<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>

   <!--
   <meta name="author" content="Tom Preston-Werner" />
   <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>
   -->

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

    <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>

<div class="site">
  <div class="title">
    <a href="/">Nimalan Mahendran</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Nimalan Mahendran<br />
        nimalan.mahendran@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/nybbles/">github.com/nybbles</a><br />
        <a href="http://twitter.com/nimalan/">twitter.com/nimalan</a><br />
      </p>
    </div>

    <!--
    <div class="rss">
      <a href="http://feeds.feedburner.com/tom-preston-werner">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
     -->

  </div>
</div>
</body>
</html>
